extends ../layout 
block stylesheets 
    link(href='/css/array.css' rel='stylesheet')

block container
    section#intro
        .container
            .row
                .col-md-12
                    div.array.col-md-6.col-md-offset-3
                    div.methods
                        div.insert.method
                            span Insert
                            input.input.insert(type="text")
                            button.btn.btn-success.go(type='button') Go
                        div.delete.method
                            span Delete
                            input.input.delete(type="text")
                            button.btn.btn-success.go(type='button') Go

block javascript 
    script(src='/js/array.js')