extends ../layout 
block stylesheets 
    link(href='/css/basics/queue.css' rel='stylesheet')

block container
    section#intro
        .container
            .row
                .col-md-12
                    div.queue.col-md-6.col-md-offset-3
                    div.methods
                        div.insert.method
                            span Enqueue
                            button.btn.btn-success.go(type='button') Go
                        div.delete.method
                            span Dequeue
                            button.btn.btn-success.go(type='button') Go

block javascript 
    script(src='/js/stack.js')