@import 'variables';
@import 'functions';

body {
    background-color: map_get($background, color);
    background-image: map_get($background, image);
}

.container {
    height: 100vh;
    @include flexCenter(row);
    .array {
        margin-bottom: 50px;
    }
    .methods {
        @include flexCenter(column);
    }
    .method {
        @include flexCenter(row);

        span {
            color: map_get($font, color);
            font-family: map_get($font, family);
            font-size: map-get($font, size);
            margin: 10px;
        }
        .input {
            width: 50px;
            margin: 10px;
        }
    }
}

.array {
    width: 500px;
    height: 200px;
    border: 1px solid white;
}
