extends ../layout 
block stylesheets 
    link(href='/css/search/linear.css' rel='stylesheet')
   

block container
    .container
        .show
        div.methods
            div.insert.method
                span Search
                input.input.searchValue(type="text" placeholder='value' maxlength="4")
                button.btn.btn-success.searchGo(type='button') Go
            
block javascript 
    script(src='https://d3js.org/d3.v4.min.js')
    script(src='/js/linear/draw-linear.js')
    script(src='/js/linear/search-linear.js')
    