@import '../modules/variables.scss';
@import '../modules/functions.scss';
@import '../modules/inputStyle.scss';
@import '../modules/info.scss';

body {
    @include background();
}
.container {
    @include flexCenter(column);
}
.index {
    margin-bottom: 50px;
}
.find {
    font-size: 30px;
    color: #fff;
}
