@import '../modules/variables';
@import '../modules/functions';
@import '../modules/inputStyle';

body {
    background-color: map_get($background, color);
    background-image: map_get($background, image);
}

.BST {
    width: 400px;
    height: 400px;
    border: 1px solid white;
    margin: 20px 0px;
}
.container .method .traversal {
    margin: 0px 15px;
    font-size: 20px;
}
