@import '../modules/variables';
@import '../modules/functions';
@import '../modules/inputStyle';
@import '../modules/info';

body {
    @include background();
}

.container .method .traversal {
    margin: 0px 15px;
    font-size: 20px;
}
.col-md-12 {
    margin: 20px 0px;
}
