extends ../layout 
block stylesheets 
    link(href='/css/trees/heap.css' rel='stylesheet')

block container
    section#intro
        .container
            .row
                .col-md-12
                    div.methods
                        div.traversal.method
                            button.btn.btn-outline-danger.go.traversal.Preorder(type='button') Preorder
                            button.btn.btn-outline-danger.go.traversal.Inorder(type='button') Inorder
                            button.btn.btn-outline-danger.go.traversal.Postorder(type='button') Postorder
                    div.BT.col-md-6.col-md-offset-3
                    div.methods
                        div.insert.method
                            span Insert
                            input.input.insert.value(type="text" placeholder='value')
                            button.btn.btn-success.go(type='button') Go
                        div.delete.method
                            span Delete
                            input.input.delete.value(type="text" placeholder='value')
                            button.btn.btn-success.go(type='button') Go

block javascript
    script(src='/js/trees/heap.js')