extends ../layout 
block stylesheets 
    link(href='/css/about/about.css' rel='stylesheet')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
block container
    section#intro
        .container
            div.row1
                h1.title We can make your Data Structure better
            div.row1
                .column
                    .imgbox
                        img(src="../img/WEN.jpg", alt="")
                    .details
                        h3 HANK
                            p 溫存正Hank Wen
                        ul
                            li
                                a(href="https://www.facebook.com/profile.php?id=100009226258364" target="_blank")
                                    i.fa.fa-facebook-square(aria-hidden='true')
                            li
                                a(href="https://www.instagram.com/chao_brother/" target="_blank")
                                    i.fa.fa-instagram(aria-hidden='true')
                            li
                                a(href="https://github.com/WenHank" target="_blank")
                                    i.fa.fa-github(aria-hidden='true')
                .column
                    .imgbox
                        img(src="../img/JIM1.jpg", alt="")
                    .details
                        h3 JIM
                            p 方子樽Jim Fang
                        ul
                            li
                                a(href="https://www.facebook.com/profile.php?id=100002610977006" target="_blank")
                                    i.fa.fa-facebook-square(aria-hidden='true')
                            li
                                a(href="https://www.instagram.com/jmjmjim/" target="_blank")
                                    i.fa.fa-instagram(aria-hidden='true')
                            li
                                a(href="https://github.com/FangJim" target="_blank")
                                    i.fa.fa-github(aria-hidden='true')
                .column
                    .imgbox
                        img(src="../img/LEON1.jpg", alt="")
                    .details
                        h3 LEON
                            p  蔡坤霖Leon Tsai
                        ul
                            li
                                a(href="https://www.facebook.com/profile.php?id=100005816225672" target="_blank")
                                    i.fa.fa-facebook-square(aria-hidden='true')
                            li
                                a(href="https://www.instagram.com/leon45la/" target="_blank")
                                    i.fa.fa-instagram(aria-hidden='true')
                            li
                                a(href="https://github.com/LeonTsai2021" target="_blank")
                                    i.fa.fa-github(aria-hidden='true')
                .column
                    .imgbox
                        img(src="../img/WESAN1.jpg", alt="")
                    .details
                        h3 WESAN
                            p 簡文勝Wesan Chien
                        ul
                            li
                                a(href="https://www.facebook.com/profile.php?id=100001434204868" target="_blank")
                                    i.fa.fa-facebook-square(aria-hidden='true')
                            li
                                a(href="https://www.instagram.com/wesan_0213/" target="_blank")
                                    i.fa.fa-instagram(aria-hidden='true')
                            li
                                a(href="https://github.com/WesanChien" target="_blank")
                                    i.fa.fa-github(aria-hidden='true')
            .row1 
                .intr
                    .text 
                        span Search, Login, Member area.
                    .text 
                        span Homepage, Basics, Tree, Grade analyzation, Main architecture.
                    .text 
                        span Graph, Quiz layout design.
                    .text 
                        span About, Document processing.


block javascript 
    script(src='/js/about.js')