@import '../modules/variables';
@import '../modules/functions';
@import '../modules/inputStyle';
@import '../modules/info';

body {
    background-color: map_get($background, color);
    background-image: map_get($background, image);
}

.array {
    margin-bottom: 10px;
}
